spring:
  resources:
    static-locations: classpath:/static/
  mvc:
    static-path-pattern: /static/**
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cms?useUnicode=true&charaterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: (ZrF666)
# mybatis
mybatis:
  mapper-locations: classpath:mapper/*.xml

logging:
  level:
    com:
      itzhang: debug

