<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-side layui-bg-black" th:fragment="sideBar">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:">基础信息</a>
                <dl class="layui-nav-child">
                    <dd><a href="http://localhost:8080/views/memp">员工管理</a></dd>
                    <dd><a href="http://localhost:8080/views/mcus">客户管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">系统管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="http://localhost:8080/views/changePassPage">修改密码</a></dd>
                    <dd><a href="http://localhost:8080/views/changeInfoPage">修改信息</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="#">统计分析</a>
                <dl class="layui-nav-child">
                    <dd><a href="#">拜别</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="layui-header" th:fragment="topBar" >
    <div class="layui-logo">张先森的练手后台</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <span style="padding: 10px">[[${session.user.username}]]</span>
                <img th:src="${session.user.img}" class="layui-nav-img"/>
            </a>
        </li>
        <li class="layui-nav-item"><a href="/logout">退了</a></li>
    </ul>
</div>
</html>