<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-side layui-bg-black" th:fragment="sideBar">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" th:href="@{/manager}">
                    员工列表
                </a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" th:href="@{/user}">
                    用户列表
                </a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" th:href="@{'/tag?parent_id=1'}">
                    分类管理
                </a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:">
                    商品管理
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/sellableBooks}">商品列表</a></dd>
                    <dd><a th:href="@{/checkedBooks}">商品审核</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:">
                    留言管理
                </a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:">
                    统计分析
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a>用户信息分析</a></dd>
                    <dd><a>商品信息分析</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="layui-header" th:fragment="topBar" >
    <div class="layui-logo" style="font-size: 20px; font-weight: bold">HouJie</div>
    <ul class="layui-nav layui-layout-right">

        <li class="layui-nav-item"><a th:href="@{/doLogout}">点这里退出</a></li>
    </ul>
</div>
</html>