<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>客户管理</title>
    <link rel="stylesheet" th:href="@{../../static/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/layui/css/changeInfo.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="memp">
    <div th:replace="~{commons/common::topBar}"></div>
    <div th:insert="~{commons/common::sideBar}"></div>
    <div class="layui-body">
        <div id="left">
            <img th:src="${session.user.img}">
        </div>
        <div id="right">
            <form action="/views/changeInfo" method="post">
                <input type="hidden" th:value="${session.user.id}" name="id">
                <label>
                    <span>头像：</span>
                    <input type="text" class="input" name="img" id="change_img"  th:value="${session.user.img}">
                </label>
                <label>
                    <span>用户名：</span>
                    <input type="text" class="input" name="username" id="change_username" th:value="${session.user.username}">
                </label>
                <label>
                    <span>姓名：</span>
                    <input type="text" class="input" name="realName" id="change_realName" th:value="${session.user.realName}">
                </label>
                <div id="btn">
                    <input type="submit" value="提交" class="layui-btn" id="change_submit" th:onclick="|javascript:changeSubmit()|">
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{../../static/layui/layui.js}"></script>
<script th:src="@{../../static/layui/js/mcus.js}"></script>

</body>
</html>