<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itzhang.mapper.BooksMapper">
    <update id="successCheck">
        update books set status = 1 where id = #{id}
    </update>
    <delete id="failCheck">
        delete from books where id = #{id}
    </delete>
    <select id="getAllSellableBooks" resultType="com.itzhang.pojo.Books">
        SELECT b.id id, b.name name, b.price price, b.content content, b.picture picture, u.name user, b.status status, t.name tag FROM books b
        left join user u on b.user_id = u.id left join tag t on b.tag_id = t.id where b.status = 1;
    </select>
    <select id="getAllCheckedBooks" resultType="com.itzhang.pojo.Books">
        SELECT b.id id, b.name name, b.price price, b.content content, b.picture picture, u.name user, b.status status, t.name tag FROM books b
        left join user u on b.user_id = u.id left join tag t on b.tag_id = t.id where b.status = 0;
    </select>
</mapper>
