<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itzhang.mapper.ChangeItemMapper">
    <update id="changePassword">
        update emp set password = #{newPass} where username = #{username};
    </update>

    <select id="checkPassword" resultType="java.lang.String">
        select password from emp where username=#{username};
    </select>
</mapper>